body {
  color: #001277;
  color: #27812a;
  color: #9bc7cd;
  color: #287f8b;
  color: #5692c6;
  color: #2c4357;
  color: #23384a;
  color: #1da421;
  color: #94f998;
  color: #989898;
  color: #cdcdcd;
  color: #7f7500;
  color: #f9f08a;
  color: #c6c6c6;
  color: #a3d0f7;
  color: #8ab6dd;
  color: #6e6e6e;
  color: #dadada;
  color: #959595;
  color: #89b0b5;
}
